<!DOCTYPE html>
<html lang="en">



<head>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <title>Ordering burgers</title>
    <meta charset="utf-8" />


</head>

<body>

    <main>
        <header id="header">
            <h1>Welcome to BurgerOnline</h1>
            <img src="https://u.tfstatic.com/restaurant_photos/131/361131/169/612/l-artisan-du-burger-st-germain-vue-de-la-salle-5db53.jpg" style="margin: auto;"></header>
        </header>
        <section id="burger_selection">
            <div id="selection">
                <h3>
                    <p>Burger selection</p>
                </h3>
                <li v-for="burger in burgers">
                    {{burger.name}}
                    <p v-if="burger.lactos == 'Contains lactos'">Conains lactos
                    </p>
                    <p v-if="burger.gluten == 'Contains gluten'">
                        Conains gluten</p>
                </li>
                <div class="wrapper" id="wrapper1" v-for="burger in burgers">
                    <div id="fireBurger"></div>
                    <div id="vegan"></div>
                    <div id="kingSize"></div>
                    <div id="daily"></div>
                    <div id="texa"></div>
                </div>
            </div>
            <input v-model="selection">
            <h1></h1>
        </section>
        <section id="customer_info">
            <h2>Customer information</h2>
            <p>This is where you provides necessary information</p>
            <form>
                <p>
                    <label for="fullname">Full name</label><br>
                    <input type="text" id="First-and Last name" name="fn" required="required" placeholder="First-and Last name" />
                </p>
                <p>
                    <label for="e-mail">E-mail</label><br>
                    <input type="email" id="E-mmail" name="email" placeholder="E-mail address" />
                </p>
                <p>
                    <label for="street">Street</label><br>
                    <input type="text" id="Street" name="street" required="required" placeholder="Street name" />
                </p>
                <p>
                    <label for="house">House</label><br>
                    <input type="number" min="1" id="House" name="house" required="required" placeholder="House number" />
                </p>
                <p>
                    <label for="payment">Payment option</label> <br />
                    <select id="payment" name="po">
                        <option value "Klarna" selected>Klarna</option>
                        <option>Credit card</option>
                        <option>Paypal</option>
                        <option>EasyPay</option>
                    </select>
                </p>
                </p>
                <p>Gender</p>
                <input type="radio" name="gender" value="male">Male<br>
                <input type="radio" name="gender" value="female">Female<br>
                <input type="radio" name="gender" value="non-binary">Non-binary<br>
                <input type="radio" name="gender" value="undisclosed">Undisclosed<br>

                <button type="submit" <><img
                        src="https://cdnmedia.endeavorsuite.com/images/ThumbGenerator/Thumb.aspx?img=//cdnmedia.endeavorsuite.com/images/organizations/cb93a8f9-c2a1-49bd-8329-20bcb0399ddd/HELO/Click%20Here%20to%20Order%20Button.jpg&v=1493156846054&mw=400&mh=200&f=1?v=20190528112959"
                        width="100" /></button>
            </form>

        </section>
    </main>
    <footer>@2020 Hypothetical Burger Inc</footer>
</body>

</html>